* {
  margin: 0;
  padding: 0;
}

#root {
  font-size: 62.5%;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: azure;
  padding: 4em;
}

.name-title {
  color: rgb(0, 95, 64);
  font-size: 4em;
}
